/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 10px; /* Más compacto */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Más compacto */
    margin-bottom: 10px; /* Más compacto */
}

.form-group.col-md-6, .form-group.col-md-12 {
    padding: 0 15px;
    box-sizing: border-box;
}

.form-group.col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
}

.form-group.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.img-thumbnail {
    display: block;
    margin-bottom: 1rem;
    max-height: 350px; /* Tamaño ajustado de la imagen de portada */
    object-fit: cover;
}

.btn {
    margin-top: 10px; /* Más compacto */
}

#imagenPortada + img {
    max-width: 350px; /* Tamaño ajustado de la imagen de portada */
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

.portada-imagen {
    width: 100%;
    max-height: 500px; /* Ajuste del tamaño */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Más compacto */
}
